:root {
  --yellow: #f2b619;
  --white: #ffffff;
  --primary: #04a5c2;
  --color-lightgrey: #f9f9f9;
}

.wd-styl {
  width: 170px;
}

.imgcard-styl {
  width: 150px;
  height: 150px;
}
.imgwidth {
  width: 130px;
}
.text-color {
  color: var(--primary);
}

@media screen and (max-width: 767px) {
  .mtmob {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .mtmob {
    /* margin-top: 100px; */
  }
}
.select-background{
  border: 2px solid rgb(206, 206, 206);
  padding: 2px;
  border-radius: 5px;
}
/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
}

#home {
  background-color: #ddd;
}

#about {
  background-color: #aaa;
}

#work {
  background-color: #888;
}

#contact {
  background-color: #666;
}

/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}
#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #f857a8;
  background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
  background: linear-gradient(45deg, #f857a8, #ff5858);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #f857a8;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #f857a8;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:link.active, a:visited.active, a:active.active {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    color: #fff;
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}
body{
  background-color: #F4F6F8;
  box-sizing: border-box;
}
.navBar{
  height: 80px;
  border-bottom: 2px solid rgb(8, 0, 0);
 
}
.btn-reg-border{
  border: 1px solid black;
}
/* .hero-wrapper{
  height: 100vh;
  border: 2px solid blue;
} */
.text-wrapper{
  height: 40vh;
}
.hero-content-wrapper{
width: 85%;
height: 70vh;
margin: 30px auto 0px ;

background: url('https://img.freepik.com/free-photo/group-asia-young-creative-people-smart-casual-wear-discussing-business-brainstorming_7861-3066.jpg?w=1060&t=st=1663754483~exp=1663755083~hmac=81a602e3584ed752ce5ecf47593772e3257e75c22f9e854f41135ddf49e166e5') no-repeat center top/cover;
border-radius: 20px;
}
.here-sec-btext{
 
  /* border: 2px solid red; */
  height: 30vh;
}
.btm-border{
  width: 75%;
  border: 2px solid black;
  margin: auto;
}
.card-img img{
  width: 400px;
  height: 200px;
  border-radius: 8px;
}
.profile-img{
  /* border: 2px solid black; */
  width: 300px;
  position: relative;
  bottom: 20px;
 
}
.profile-img img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
}
.loc-City{
  margin: auto;
}
.imgCity{
  background:no-repeat center top/cover;
  height: 100px;
  border: 2px soild black;
  border-radius: 4px;
}
.full-border{
  width: 100%;
  border: 2px solid black;
}
.footer-menu li{
  padding:2px 6px;
}
.footer-menu li a{
text-transform: none;
color: black;
}
.profile-home-cards{
  height: 300px;
  border: 2px solid rgb(1, 1, 11);
  border-radius: 10px;
}
.card img{
  height: 100px;
  width: 100%;
}

.card-profile{
  width: 100px;
  height: 100px;
  margin-left: 10px;
  position: relative;
  top:-20px;
}
.card-ProPic img{
  width: 120px;
  height: 80px;
  border-radius: 60px;
  position: relative;
  top: -20px;
}
.card-text{
  
  width: 100%;
}

/* Responsiveness */
@media screen and (max-width: 600px) and (min-width:10px) {
  .navBar{
    border-bottom: none;
  }
  .navBar-text-wrapper p{
    font-size: 18px;
  }
  .navBar-text-wrapper span{
    font-size: 18px;
  }
  .navBar-text-wrapper .span-text{
    font-size: 8px;
  }
  .navbar-btn-wrapper .btn-register {
    padding: 2px 6px;
    font-size: 12px;
  

  }

  /* Hero section */
  .hero-content-wrapper{
    width: 100%;
    height: 80vh;
    border-radius: 0px;
   
  }
  .res-text-wrapper{
 position: relative;
 top: 40%;
  }

  .res-text-wrapper h1:first-child{
font-size: 35px;

  }
  .res-text-wrapper h1:nth-child(2) {
    font-size: 30px;
  }
  .res-text-wrapper p:nth-child(3){
    font-size: 14px;
  }
  .hero-btn-wrapper button{
margin-top: 40px;
padding: 2px 6px;
  }
  .hero-sub-text-wrapper{
  display: flex;
  justify-content: center;
 
  }
  .hero-sub-text-wrapper h1{
    display: inline-block;
    font-size: 18px;
  }
  .hero-parent-wrapper{
    display: flex;
    justify-content: center;
  }
  .hero-child-2-wrapper{
   width: 90%;
   margin: auto;
   /* border: 2px solid red; */
  }
  .hero-child-2-wrapper p{
    font-size: 10px;
  }
  .btm-border{
    width: 30%;
  }

  .loc-City{
    display: inline-block;

  }
  .imgCity{
  
    background: url('https://img.freepik.com/free-photo/beautiful-city-chongqing_1112-1595.jpg?w=900&t=st=1664006259~exp=1664006859~hmac=2fb5fda46b90d0308a906ebc1ec9175f3c9f38196327650a51753beca9178594') no-repeat center top/cover;
    height: 300px;
    /* border: 2px soild black; */
    border-radius: 4px;
    margin-top: 4px;
  }

}